:root {
    --primary-text-color:  #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

.body {color: var(--primary-text-color)}
.title {color: var(--title-text-color)}
.text {color: var(--primary-text-color)}

.site-nav {color: var(--title-text-color);}
.site-nav:hover,
.site-nav:focus,
.site-nav:active {color: var(--accent-color);}

.auth-nav {color: var(--primary-text-color)}
.auth-nav:hover,
.auth-nav:focus,
.auth-nav:active {
        color: var(--accent-color);
    }

.section-title {color: var(--title-text-color);}

.text-footer {color: rgb(rgba(0, 0, 0, 0.6))}